@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply bg-clr-two text-clr-five dark:text-clr-one dark:bg-clr-five;
}

.custom-underline {
  @apply after:bg-clr-five after:dark:bg-clr-one relative after:absolute after:bottom-0 after:left-0 after:h-px after:w-0 after:duration-200 after:ease-in-out after:hover:w-full;
}

.custom-bounce {
  animation: bounce-x 750ms infinite;
}
@keyframes bounce-x {
  0%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}
